/* @mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
      (-0.5+ (random()) * 3) +
        em
        (-0.5+ (random()) * 3) +
        em
        7px
        hsla(random() * 360, 100%, 50%, 0.9);
  }
  text-shadow: $text-shadow;
} */

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.4rem;
  font-family: "futura";
  min-height: 100%;
  height: 100%;
}
nav a.active {
  font-weight: 500;
  color: #4991e3;
}
nav a:hover {
  color: #4991e3;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
}

.MuiButton-root {
  border-radius: 2rem;
}
nav {
  display: flex;
}
nav a {
  color: #fafafa;
  margin-right: 2rem;
  text-transform: capitalize;
  font-weight: 500;
}
nav a:last-of-type {
  margin-right: 0rem;
}
/* nav .contactButton.MuiButton-root{
  background-color:#7A2048;
} */
nav .contactButton a {
  margin-right: 0;
  font-size: 1rem;
}
nav .contactButton .active {
  color: #0c1829;
  font-weight: 500;
}
nav .contactButton {
  font-weight: 500;
  border-radius: 20px;
}
nav .contactButton:hover {
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
}
nav .contactButton:hover a {
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
  color: #010203;
}
.drawer {
  display: flex;
  flex-direction: column;
}
.drawer a {
  margin-bottom: 0.5rem;
  font-size: larger;
}
.MuiButton-root a {
  color: #fafafa;
}
/* .nextui-c-iWjDFM .nextui-button-text a{
  font-size:.75rem;
} */
.MuiTypography-h1.display {
  font-size: clamp(1.602rem, -3.11rem + 7.38vw, 3.052rem);
  color: #fafafa;
  background-clip: text;
  -webkit-background-clip: text;
}
.MuiTypography-h1 {
  font-size: clamp(1.953rem, -3.11rem + 7.38vw, 4.768rem);
}
.MuiTypography-body1 {
  font-size: clamp(1rem, -3.11rem + 7.38vw, 1rem);
}
/* @keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
} */
.homeHero .nextui-button-text a {
  color: #fafafa;
  font-size: medium;
}
.homePage .nextui-button-text a {
  color: #fafafa;
  font-size: medium;
  text-transform: capitalize;
}
.homePage .nextui-button-text a.disabledBtn {
  color: #333;
}
.homePage button .nextui-c-iWjDFM-icVqQtu-css {
  background: #b1b0b0;
}
.homeHero .heroText {
  display: flex;
  flex-direction: column;
}
/* .homeHero .heroText h1,
.homeHero .heroText p 
{
width:63%
} */
.homeHero .heroText button {
  max-width: 20rem;
}
.homeHero .heroText h1.boujee-text {
  font-size: clamp(1.953rem, -3.11rem + 7.38vw, 4.768rem);
  /* --bg-size: 400%;
  --color-one: hsl(200 19% 18%);
  --color-two: hsl(212 96% 44%);
  
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%; */
  color: #07e9eb;
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* animation: move-bg 8s infinite linear; */
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.homeHero .heroText h1.boujee-text span {
  text-decoration: underline;
  font-weight: 300;
}
.headerBody {
  font-size: clamp(1rem, -3.11rem + 7.38vw, 1rem);
  /* background-image: linear-gradient(to bottom, #CBCBCB, #FF5B19); */
  font-weight: 400;
  /* background-clip: text;
  -webkit-background-clip: text; */
  color: #fafafa;
}
.MuiTypography-body2 {
  font-size: clamp(1rem, -3.11rem + 7.38vw, 1.02rem);
}
.MuiTypography-h2 {
  font-size: clamp(1.324rem, -3.11rem + 7.38vw, 2.441rem);
}
.MuiTypography-h2 span {
  font-weight: 200;
}
.MuiTypography-h3 {
  font-size: clamp(1.266rem, -3.11rem + 7.38vw, 1.953rem);
}
.MuiTypography-h3.cardHeader {
  font-size: clamp(1rem, -3.11rem + 7.38vw, 1.953rem);
}
.MuiTypography-h4 {
  font-size: clamp(1.025rem, -3.11rem + 7.38vw, 1.563rem);
}
.MuiTypography-h5 {
  font-size: clamp(1rem, -3.11rem + 7.38vw, 1.25rem);
}
.MuiTypography-subtitle1 {
  font-size: clamp(0.875rem, -3.11rem + 7.38vw, 1.02rem);
}

a {
  text-decoration: none;
}
.contact {
  display: flex;
  height: calc(100vh - 248px);
}
.MuiTableCell-head {
  font-weight: 600;
}
.MuiTableCell-body {
  text-transform: none;
  font-weight: 400;
}
.MuiTableCell-root {
  font-size: 1rem;
}
.MuiGrid-root > .MuiGrid-item.noPadding {
  padding-left: 0px;
}
.firstBG {
  background: rgb(11, 11, 11);
  background: linear-gradient(
    356deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(84, 81, 88, 1) 52%,
    rgba(132, 132, 134, 1) 100%
  );
}
.caseBG {
  background: rgb(243, 211, 243);
  background: linear-gradient(
    356deg,
    rgba(243, 211, 243, 1) 0%,
    rgba(157, 114, 239, 1) 35%,
    rgba(195, 27, 243, 1) 70%,
    rgba(83, 27, 243, 1) 100%
  );
}
.workBG {
  background: rgb(243, 211, 243);
  background: linear-gradient(
    356deg,
    rgba(243, 211, 243, 1) 0%,
    rgba(185, 152, 246, 1) 52%,
    rgba(166, 137, 249, 1) 100%
  );
}
nav .MuiToolbar-root {
  min-height: 5rem;
}
.lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.navBG {
  background: #010203;
  /*background: linear-gradient(177deg, rgba(50,34,148,1) 0%, rgba(72,49,212,1) 46%, rgba(108,90,220,1) 100%);*/
}

.footerBG {
  background: #010203;
  /*background: linear-gradient(177deg, rgba(50,34,148,1) 0%, rgba(72,49,212,1) 46%, rgba(108,90,220,1) 100%);
color:#7A2048;*/
  /* background: rgb(27,27,27);
background: linear-gradient(180deg, rgba(27,27,27,1) 19%, rgba(38,38,38,1) 53%, rgba(10,10,10,1) 100%
  ); */
  padding: 1.5rem 1rem;
}
.footerBG a {
  color: #fafafa;
}
.footerBG a:hover {
  color: #4991e3;
}
ul.mylistStyle {
  list-style-type: none;
}
ul.mylistStyle li {
  list-style-type: none;
}
.fadeHero {
  /*background: rgb(11,11,11);*/
  background-image: linear-gradient(
      to bottom,
      rgba(11, 11, 11, 0.8) 0%,
      rgba(65, 65, 65, 0.81) 52%,
      rgba(42, 42, 42, 0.81) 100%
    ),
    url("/assets/fadeHeroImage.png");
  height: auto;
  background-size: cover;
  width: 100%;
  color: whitesmoke;
  min-height: 360px;
  background-repeat: no-repeat;
  background-position: center;
}
.wineHero {
  /*background: rgb(11,11,11);*/
  background-image: linear-gradient(
      to bottom,
      rgba(11, 11, 11, 0.8) 0%,
      rgba(65, 65, 65, 0.81) 52%,
      rgba(42, 42, 42, 0.81) 100%
    ),
    url("/assets/fadeHeroImage.png");
  height: auto;
  background-size: cover;
  width: 100%;
  color: whitesmoke;
  min-height: 180px;
}
/* .MuiIconButton-root{
  background-color: #CCF381;
  color:#4831d4;
}
.MuiIconButton-root:hover{
  background-color: #d6f59a;
} */
.wgsrHero {
  /*background: rgb(11,11,11);*/
  /* background-image: linear-gradient(
      to bottom,
      rgba(11, 11, 11, 0.8) 0%,
      rgba(65, 65, 65, 0.81) 52%,
      rgba(42, 42, 42, 0.81) 100%
    ),
    url("/assets/wgsr_hero.png"); */
  /* background-image: url("/assets/wgsr_hero.png"); */
  height: auto;
  /* background-size: cover; */
  max-width: 900px;
  color: whitesmoke;
  min-height: 720px;
  /* background-position: center center; */
}

/* .MuiGrid-container{
  padding-left:0;
  margin-right:0;
  margin-left:0;
}  */

/* .MuiToolbar-root{
  padding-left:0px;
  padding-right:0px;
} */
.MuiPaper-rounded {
  background: #b4b3b3;
  border: solid #b1b0b0 1px;
  box-shadow: 2px 2px 1rem rgba(197, 196, 196, 0.5);
  -webkit-box-shadow: 2px 2px 1rem rgba(151, 149, 149, 0.5);
  -moz-box-shadow: 2px 2px 1rem rgba(177, 175, 175, 0.5);
  color: "#fff";
  border-radius: 0.5rem !important;
  background: rgb(250, 249, 249);
}
.MuiPaper-rounded .tableHeuristic {
  background: none;
  border: solid none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: "#000";
  border-radius: 0.5rem !important;
  background: transparent;
}
.fadeHome {
  background-size: cover;
  color: whitesmoke;
}
.imageBorderradius {
  border-radius: 0.5rem;
  padding: 8px;
  border: 1px solid #ccc;
}
.homeHero {
  /*background-image: url("/assets/Desktop1920_bg.png");*/
  background: linear-gradient(-45deg, #010203, #202a33, #1a354f, #030201);
  animation: herogradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: calc(100vh - 4rem);
  background-size: 400% 400%;
  /* background: rgb(242,242,242);
  background: linear-gradient(177deg, rgba(242,242,242,1) 0%, rgba(232,232,232,1) 48%, rgba(219,219,219,1) 100%); */
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s ease;
}
@keyframes herogradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.homePage {
  /*background-image: url("/assets/Desktop1920_bg.png");*/
  width: 100%;
}
/*animated gradient*/
/*.homeHero  {
	background: linear-gradient(-45deg, #000000, #2B0040, #362D80, #2A0DFF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  height: 100vh;
  width: 100%;
  min-height: calc(100vh - 4rem);
  /* background-size: cover;
  background-color: rgb(239, 221, 248);
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s ease; 
}*/

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  */
.list-wrap {
  border-radius: 5px;
}

div.list {
  counter-reset: list-number;
}
div.list .case:before {
  counter-increment: list-number;
  content: counter(list-number);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 2rem;
  /* width:35px;*/
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #022d5e;
  border-radius: 50%;
  color: #fff;
}


.fadeCard {
  background-image: url("/assets/fadecardImage.png");
  /* height:clamp(0px, 56.25vw, 300px) !important; */
  /* min-height:clamp(0px, 66.25vw, 20vh) !important; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pageBg {
  background: rgb(255, 252, 252);
  background: linear-gradient(
    180deg,
    rgba(255, 252, 252, 1) 0%,
    rgba(228, 228, 228, 1) 52%,
    rgba(163, 162, 162, 1) 100%
  );
  height: 100%;
}
* {
  box-sizing: border-box;
}
/* h1.display{
  font-family:
}  */
.landingImage {
  z-index: 0;
}
ul.ulStyle {
  padding-left: 0rem;
  list-style-type: disc;
  font-family: "futura";
}
ul.ulStyle li {
  font-size: clamp(0.8rem, -3.11rem + 7.38vw, 1rem);
}
.footerBG ul,
.footerBG ol {
  margin: 0px;
}
.landingText {
  /* z-index:1;
  padding:16px;
  position:absolute;
  top:30%;
  min-width:20vw;
  width:50vw; */
  color: aliceblue;
}
/* footer .MuiGrid-item{
  padding-left:0px;
} */
.MuiIconButton-root:hover {
  background-color: #3687e4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .homeHero {
    /*background-image: url("/assets/iPhone428_bg2.png"); */
    padding: 1rem;
    min-height: 48rem;
  }
  .homeHero .heroText {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .story {
    padding: 1rem;
  }
  .homePage {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  section#whatWeDo p{
    text-align: center;
}
  .wgsr,
  .fade,
  .contact,
  .story {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  p.headerBody{
    width:100%;
    text-align:center;
  }
  /* footer .MuiGrid-item{
    margin-left:16px;
    margin-right:16px;
  } */
  /* .MuiCard-root{
    margin-left:1rem;
    margin-right:1rem;
  } */
  .MuiTypography-body1.headerBody {
    font-size: clamp(0.9rem, -3.11rem + 7.38vw, 1rem);
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .MuiTypography-h1.display {
    font-size: clamp(1.602rem, -0.1026rem + 3.189vw, 2.28rem);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .homeHero {
    /*background-image: url("/assets/Tablet768_bg2.png"); */
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 45rem;
  }
  p.headerBody{
    width:100%;
    text-align:center;
  }
  .homePage {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .wgsr,
  .fade,
  .contact,
  .story {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .homeHero .heroText {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  /* footer .MuiGrid-item{
    margin-left:16px;
    margin-right:16px;
  } */
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .homeHero {
    /*background-image: url("/assets/Desktop1440_bg2.png"); */
    min-height: 45rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  p.headerBody{
    width:100%;
    text-align:center;
  }
  .homePage {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .wgsr,
  .fade,
  .contact,
  .story {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .homeHero .heroText {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  /* footer .MuiGrid-item{
    margin-left:16px;
    margin-right:16px;
} */
}

/* Large devices (lops/desktops, 992px and up) */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .homeHero {
    padding-left: 2rem;
    padding-right: 2rem;
    /*background-image: url("/assets/Desktop1440_bg2.png"); */
    min-height: 45rem;
  }

  .homeHero,
  .homePage {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .homeHero {
    /*background-image: url("/assets/Desktop1440_bg2.png"); */
    min-height: 45rem;
  }
  .homeHero,
  .homePage {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .homeHero {
    /*background-image: url("/assets/Desktop1920_bg2.png"); */
    min-height: 45rem;
  }
  .homeHero,
  .homePage {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  .homeHero {
    /*background-image: url("/assets/Desktop2560_bg2.png"); */
    min-height: 45rem;
  }
}
